.layout {
  display: grid;
  grid-template-columns: minmax(16rem, 22vw) 1fr;
  min-height: 100dvh;
}

.right {
  position: relative;
}

@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
